<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/Caradd.css">
    <title>Pagina Caradd</title>
</head>
<body>
    <div class="eve_nav d-flex justify-content-between align-items-center p-2">
        <h1>Concessionária TonRub</h1>
        <a href="#"><img class="eve_nav_image" src="../public/icons/icons8-menu-64.png" alt="Adicionar"></a>
    </div>
    <div class="container eve_carros">
        <div class="d-flex flex-row flex-wrap">

        </div>
    </div>
<script>
    const electron = require('electron');
    const { ipcRenderer } = electron;

    function createDivs(data){
        var div_card_main = document.createElement('div');
        var div_card_body = document.createElement('div');

        div_card_main.className = 'card m-2';
        div_card_body.className = 'card-body';
        
        var div_card_title = document.createElement('h5');
        var doc = document.createTextNode(data[0]);
        var p = [];
        var pnode = [];    

        div_card_title.className = 'card-title';
        div_card_title.appendChild(doc);
        div_card_body.appendChild(div_card_title);
        div_card_main.appendChild(div_card_body);

        for(i = 0; i < 5; i++){
            p[i] = document.createElement('p');
            p[i].className = 'card-text';
        
            pnode[i] = document.createTextNode(data[i+1]);
            p[i].appendChild(pnode[i]);
            div_card_body.appendChild(p[i]);
        }

        var flex = document.getElementsByClassName('d-flex');
        flex[1].appendChild(div_card_main);
    }

    ipcRenderer.on('item:add', (event, data) => {
        createDivs(data);        
    });

</script>
</body>
</html>