<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/Caradd.css">
</head>
<body>
    <div class="container eve_carros">
        <div class="d-flex flex-row flex-wrap">
            
        </div>
    </div>

        <div class="form-group m-2">
            <label for=""> Digite o codigo do que será apagado: </label>
            <input type="text" class="inp"> </br>
            <button class="btn btn-danger btn_act m-1"> Apagar </button>
        </div>

<script src="../public/scripts/CardRemove.js"></script>
</body>
</html>