.eve_nav{
    background-color: rgba(71, 73, 76, 0.5);
    color: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px gray;
    
}

.eve_nav_image{
    width: 50px;
}

.eve_carros{
    margin-top: 50px;
}