<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../public/css/index.css">
    <link rel="stylesheet" href="./../../public/css/Bootstrap/bootstrap.min.css">
</head>
<body style="background-color:white">
    <div>
        <h1 class="text-center pt-2">Adicionar carro</h1>
        <form class="d-flex flex-column p-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Codigo do Carro:</label>
              <input type="text" class="form-control item" placeholder="Codigo Carro">
            </div>
    
            <div class="form-group">
              <label for="exampleInputPassword1">Nome do Carro:</label>
              <input type="text" class="form-control item" placeholder="Nome Carro">
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1">Marca/Fabricante:</label>
              <input type="text" class="form-control item" placeholder="Marca/Fabricante">
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1">Ano do Carro:</label>
              <input type="text" class="form-control item" placeholder="Ano do Carro:">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Valor de Compra:</label>
              <input type="text" class="form-control item" placeholder="Valor de compra">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Valor de Revenda:</label>
              <input type="text" class="form-control item" placeholder="Valor de Revenda">
            </div>
            <button class="ele_botao"  type="submit" >Enviar</button>
          </form>
    </div>
<script src="./../../public/scripts/index.js"></script>
</body>
</html>