<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../public/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../../public/css/Caradd.css">
</head>
<body>
    <div class="eve_nav d-flex justify-content-between align-items-center p-2">
        <h1>Concessionária TonRub</h1>
        <a href="#" id="link_but"><img class="eve_nav_image" src="./../../public/icons/icons8-mais-2-matemática-100.png" alt="Adicionar"></a>
        <a href="#" id="rm_but"> <img class="eve_nav_image" src="./../../public/icons/icons8-delete-100.png" alt=""></a>
    </div>
    <div class="container eve_carros">
        <div class="col-sm">
            <div class="">
                Mostrar:
                <button class="btn btn-info btn_1"> Mais Antigo </button>
                <button class="btn btn-info btn_2"> Maior Lucro </button>
                <button class="btn btn-info btn_3"> Todos </button>
            </div>
        </div>
        <div class="col-lg">
            <div class="d-flex flex-row flex-wrap">
    
            </div>
        </div>
    </div>
<script src="../../public/scripts/CardAdd.js"></script>
</body>
</html>